# Created by .ignore support plugin (hsz.mobi)
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/personal-website.iml
.idea/workspace.xml
/templates/
/.gitignore
venv
static

