
<!doctype html>
  <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href='https://fonts.googleapis.com/css?family=Roboto:700,300' rel='stylesheet' type='text/css'>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    </head>
    <body>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <nav class="navbar navbar-inverse" role="navigation">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Tom Flynn Web Developer</a>
          </div>
          <div class="nav navbar-nav">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{{ url_for('base3') }}">HOME</a></li>
              <li><a href="{{ url_for('about') }}">About Me</a></li>
              <li><a href="{{ url_for('interests') }}">Interests</a></li>
              <li><a href="{{ url_for('compound') }}">Compound Interest Program</a></li>
            </ul>
          </div>
      </nav>
      <div class="container">
        <div class="card">
          <div class="card-header">
              About Me
          </div>
          <div class="card-body">
            <h3>Skills</h3>
            <ul class="list-group">
              <li class="list-group-item">Java Script</li>
              <li class="list-group-item">Python</li>
              <li class="list-group-item">Bootstrap</li>
            </ul>
            <div class="container">
              <h3>My Profiles</h3>
              <a href="https://github.com/tomflynn1999">Git Hub</a>
              <a href="https://www.linkedin.com/in/tom-flynn-920752148/">Linkedin</a>
            </div>
            <div class="container">
              <h3>My Life</h3>
              <p>I am a 19 year old computer science major attending the University of North Carolina at Charlotte. I am currently a sophomore and I am expected to graduate spring of 2021.
              I grew up in Charlotte, North Carolina and graduated from Ardrey Kell High School in June of 2017. I am currently employed by Medshift in Charlotte, North Carolina.
              </p>
            </div>
          </div>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </body>
</html>