{% extends 'base.html' %}
{% block body %}
      <div class="container">
        <div class="card">
          <div class="card-header">
              About Me
          </div>
          <div class="card-body">
            <h3>Skills</h3>
            <ul class="list-group">
              <li class="list-group-item">Java Script</li>
              <li class="list-group-item">Python</li>
              <li class="list-group-item">Bootstrap</li>
            </ul>
            <div class="container">
              <h3>My Profiles</h3>
              <a href="https://github.com/tomflynn1999">Git Hub</a>
              <a href="https://www.linkedin.com/in/tom-flynn-920752148/">Linkedin</a>
            </div>
            <div class="container">
              <h3>My Life</h3>
              <p>I am a 19 year old computer science major attending the University of North Carolina at Charlotte. I am currently a sophomore and I am expected to graduate spring of 2021.
              I grew up in Charlotte, North Carolina and graduated from Ardrey Kell High School in June of 2017. I am currently employed by Medshift in Charlotte, North Carolina.
              </p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}