<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <header class="comtainer">
      <h1>Compound Interest Program</h1>
    </header>
    <p>
      from flask import Flask <br>
      <br>
      app = Flask(__name__)  <br>
      <br>
      <br>
      @app.route('/', methods=['GET', 'POST']) <br>
      def form(): <br>
         result = None <br>
         if request.method == 'POST': <br>
           result = calculate_compound_interest( <br>
              p=int(request.form['principal']), <br>
              i=float(request.form['interest']), <br>
              t=int(request.form['times_per_year']), <br>
              n=int(request.form['years']) <br>
           ) <br>
         # Pass the result to the front end <br>
         return render_template('form.html', result=result) <br>
          <br>
      def compound_interest(principal, rate, time, amount): <br>
           <br>
          """ <br>
          Computes Compound Interest<br>
          :param principal: <br>
          :param rate: <br>
          :param time: <br>
          :param amount: <br>
          :return: <br>
          """ <br>
          formula = principal*((1.0 + (rate/100)/amount)**(time*amount))  # compound interest formula <br>
          return formula <br>
           <br>
      def calculate_compound_interest(p: int, i: float, t: int, n: int):<br>
          """ <br>
          Calculate compound interest.<br>
            <br>
          :param p: The principal investment amount. <br>
          :param i: The annual interest rate (decimal form). <br>
          :param t: Number of years the money is invested for. <br>
          :param n: Number of times that interest is compounded per year. <br>
          :return: The future value of the investment. <br>
          """ <br>
          return p * ((1 + ((i / 100) / t)) ** (n * t)) <br>
           <br>
           <br>
      if __name__ == '__main__': <br>
          app.run() <br>

    </p>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>